extends base

block content
    form(method="POST")
        input(name="name", type="text", placeholder="Name", value=loggedInUser.name required)
        input(name="email", type="text", placeholder="Email", value=loggedInUser.email required)
        input(name="username", type="text", placeholder="User name", value=loggedInUser.username required)
        input(name="location", type="text", placeholder="Location", value=loggedInUser.location required)
        input(type="submit", value="Update Profile")
